n8n/workflows/card_recommendation.json
{
  "name": "card_recommendation",
  "nodes": [
    {
      "parameters": {
        "path": "n8n/recommend",
        "httpMethod": "POST"
      },
      "id": "Webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/recommend",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.body}}"
      },
      "id": "RecommendAPI",
      "name": "Recommend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Recommend API", "type": "main", "index": 0}]]
    },
    "Recommend API": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  }
}
